/* Header Start*/

ul {
    width: 70%;
    margin: auto;
    list-style-type:none;
    display: inline;
}

li{
    float: right;
    margin: auto;
}


h1{
    float: none;
}
/* Header End*/
body{
    background-color: #a052ff;
}
/* post start*/


td{
    width: 5rem;
}

.post{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}
.justapost{
    margin-top: 10%;
    margin-bottom: 10%;
}

.id {
    border: thick double yellowgreen;
    color: blue;
    float: left;
    text-align: left;
}

.postcnt {
    border: thick double orange;
    float: left;
    text-align: left;
    width: 60%;
}

.email {
    color: #fff88f;
    text-align: center;
    border: thick double greenyellow;
    margin-left: auto;
    width: 20%;
}

/* post end*/